<div class="panel-ingredients">
  <div class="panel-heading">
    <h1 class="brand-heading"> Ingredients </h1>
  </div>
  <body>
      <p class="brand heading">
        <%= form_tag("/ingredients", method: "post") do %>
        <%  @ingredients.each do |ingredient| %>
        <%= check_box_tag(ingredient.name) %>
        <%= label_tag(ingredient.name) %><br/ >
        <% end %>
        <%= submit_tag("Let's Get Recipes")%>
  </body>

<% end %>
